* {
	padding:0;
	margin:0;
	font-family: sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}

.logo img{
	width: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.container {
	color: #fff;
	width:80%;
	margin:0 auto;
}
.container:after {
	content:'';
	display: block;
	clear: both;
}

header{
	background-color: #111110;
}

header h1 {
	float: left;
	padding-top: 15px;
	color: #fff;
}
header ul {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding:25px 20px;
	display: inline-block;
}
header ul li a:hover {
	background-color: #ced4d4;
	color: #fff;
}

.banner {
	padding: 23%;
	background-image: url('bg12.jpg');
	background-size: 100% 87%;
	bottom: 20%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner img{
	color: #fff;
	position: absolute;
	left: 100px;
	top: 20%;
	width: 70px;
	z-index: 1;
}

.banner h2 {
	color: #fff;
	position: absolute;
	left: 100px;
	top: 50%;
	z-index: 1;
}

.banner p{
	color: #fff;
	position: absolute;
	left: 100px;
	top: 60%;
	z-index: 1;
}
section {
	padding:50px 0;
}

footer {
	padding:60px;
	background-color: #111110;
	color: #fff;
	text-align: center;
}

@media screen and (max-width: 768px){
	.container {
		width:90%;
	}
	header h1 {
		text-align: center;
		float: none;
	}
	header ul {
		text-align: center;
		float: none;
	}
	.box .col-4 {
		width:100%;
		float: none;
		margin-bottom: 20px;
	}
}

